<!DOCTYPE html>
<html lang="es">
{{> head}}
<body>
    {{> header}}
    <main>
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <h1>Aprendiendo NodeJS</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero debitis eius consectetur. Beatae modi, magni saepe alias, nulla animi excepturi nam quas nihil tempore, unde fugit est exercitationem repellat natus!</p>
                </div>
                <div class="col">
                    <img src="assets/images/nodejs_logo.png" alt="NodeJS" class="img-thumbnail">
                </div>
            </div>
        </div>
    </main>
    {{> footer}}
    {{> libs}}
</body>
</html>